.input-container {
  text-align: center;
  margin: 20px;
}

.btn {
  width: 300px;
}

@media (max-width: 768px) {
  .btn {
    width: calc(90% + 20px);
  }

  .btn {
    transform: scale(1.02);
  }
}
